.songBtn {
	text-align: left;
	cursor: pointer;
    height: 40px;
	background-color: #fffdfd;
	color: #000000;
	transition: all 0.3s;
	position: relative;
	height: auto;
}
button.songBtn{
    border-style: none;
	padding: 8px;
}
button.songBtn:hover{
    letter-spacing: 2px;
}
.songBtn span {
	transition: all 0.3s;
    
}

.songLinks{
    font-weight: 900;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    font-size: 1.4em;
    color:rgb(41, 41, 41);
    size: 100%;
}
button.songLinks{
    border-style: none;
}


.songBtn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: rgb(13, 255, 53);
	transform: scale(0., 1);
    pointer-events: none;
}
.songBtn:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
	pointer-events: none;
}
.songBtn::after {
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	background-color: rgba(255, 254, 254, 0.1);
	pointer-events: none;
}
.songBtn:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
	pointer-events: none;
}

.songBtn-selected{
    position: relative;
    border-style: none;
    background-color: rgb(255, 255, 255);
    padding-top: 1%;
    padding-bottom: 2px;
    padding-right: 1%;
    letter-spacing: 2px;
	padding: 8px;
}

.songBtn::after {
    width: 0%;
	pointer-events: none;
}

.songBtn-selected::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
	width: 100%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
	pointer-events: none;
}


