.root{
    display: flex;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    flex-direction: column;
    align-items: flex-start;
    align-content: left;
    justify-content: space-evenly;
    text-align: left;
    max-width: 70%;
    flex-wrap: wrap;
}

.songListItem{
    list-style: none;
}

.songDetails{
    display: flex;
    flex-direction: column;
    align-content: left;
    align-items: left;
}

.lyrics{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1020px;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
}

@media screen and (max-width: 1040px) {

    .lyrics {
        display: flex;
        gap: 0;
    }
    .songDetails{
        max-width: 600px;
    }
    pre.verse{
        min-width: 300px;
        max-width: 300px;
        align-items: center;
        align-self: center;
    }
    .root{
        max-width: 90%;
        align-items: center;
    }
  }
  
  
  @media screen and (max-width: 500px) {

    .root{
        max-width: 100%;
    }

  }

pre.verse{
font-size: 100%;
font-weight: normal;
padding: 0;
margin:0;
}

pre.verse:hover{
    background-color: rgb(193, 255, 193);
    transition: all 0.3s ease-in-out;
}
